.side-drawer {
    height: 100%;
    background: #fff;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 1050;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 2rem;
}

.side-drawer a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.side-drawer .side-list-nav {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.side-drawer a:hover,
.side-drawer a:active {
    background-color: #fa923f;
    color: #000;
}

.side-drawer .remove-hover:hover,
.side-drawer .remove-hover:active {
    background-color: #fff !important;
}

.side-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.side-gallery {
    background: #474a50;
    margin-bottom: 2rem;
}

// @media only screen and (max-width: 75em) {
//     .side-drawer {
//         display: none;
//     }
//  };